$color-background: #161616;
$color-dark: #131313;
$color-text: #fff;
$color-green: #92b000;
$color-orange: #ffa800;
$color-red: #e94b35;
$color-info: #1784c7;
$color-grey: #f1f1f1;
$color-interact: #cde4f2;
$color-btn-light: #565a5c;

$default-space: 1rem;

$default-font-size: .85rem;
$default-line-height: 1.4rem;
