<!DOCTYPE html>
<html lang="de">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>{{getTitle response}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/public/dist/app{{#if request.environment.production}}.min{{/if}}.css" />
    <link rel="icon" type="image/png" href="/public/favicon.png" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
    <main id="page" role="main"  v-bind:class="{'no-gamepad': !gamepad.isRunning,'gamepad-active': gamepad.isRunning}">
        {{{body}}}
    </main>

    <script>
        var response = {{{toJSON response}}};
        var request = {{{toJSON request}}};
    </script>

    <script src="/public/dist/app.js"></script>

    {{#unless request.environment.production}}
        <script src="//localhost:35551/livereload.js"></script>
    {{/unless}}
</body>
</html>
