// Imports

.music-player-container {
    translate: transform(-50%, -50%);
    display: inline-block;
    height: 370px;
    min-width: 460px;

    &:after {
        background-color: rgba(0,0,0,0.8);
        bottom: -2px;
        content: ' ';
        display: block;
        height: 10px;
        left: 19px;
        position: absolute;
        transform: rotate(-3deg);
        width: 70%;
        z-index: 0;
    }
}

.music-player {
    background-color: #fff;
    height: 370px;
    padding: 40px 250px 40px 40px;
    position: absolute;
    text-align: right;
    width: 460px;
    z-index: 3;
}// .music-player

.player-content-container {
    transform: translateY(-50%);
    top: 50%;
    position: relative;
}// .player-content-container

.artist-name {
    font-size: 28px;
    font-weight: normal;
    margin: 0 0 0.75em 0;
} // .artist-name

.album-title {
    font-weight: 200;
    font-size: 24px;
    margin: 0 0 1.75em 0;
}// .album-title

.song-title {
    font-size: 18px;
    font-weight: 200;
    margin: 0 0 1.5em 0;
}// .song-title

.album {
    box-shadow: 3px 3px 15px rgba(0,0,0,0.65);
    height: 315px;
    margin-left: 250px;
    margin-top: 27px;
    position: relative;
    width: 315px;
    z-index: 10;
}// .album

.album-art {
    background: #fff url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/83141/incubus-make-yourself.jpg') center / cover no-repeat;
    height: 315px;
    position: relative;
    width: 315px;
    z-index: 10;
}

.vinyl {
    background-image: url('/public/image/vinyl.png');
    background-position: center, center;
    background-size: cover, 40% auto;
    background-repeat: no-repeat;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    height: 300px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 300px;
    z-index: 5;
    will-change: transform, left;

    .is-playing & {
        left: 52%;
    }
}

.music-player-controls {
    text-align: center;
}// .music-player-controls

[class^="control-"] {
    border-radius: 100%;
    display: inline-block;
    height: 44px;
    margin: 0 3px;
    width: 44px;


    &:hover {
        cursor: pointer;
    }// :hover
}// [class^="control-"]

.rotate {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
