<article class="article">
    <span class="image-right"><img src="http://placeimg.com/320/220/any" alt="" /></span>
    <h3 class="headline small">
        <strong>Headline</strong> <small>Subtitle</small>
    </h3>
    <p>lorem ipsum dolor sit amet dolor, sit amet lorem ipsum dolor <strong>sit amet</strong> lorem ipsum lorem ipsum dolor sit amet dolor, sit amet lorem ipsum dolor sit <a href="test">amet lorem</a> sit amet lorem ipsum lorem ipsum dolor sit amet</p>
</article>

<article class="article">
    <span class="image-left"><img src="http://placeimg.com/320/330/any" alt="" /></span>
    <h3 class="headline small">
        <strong>Headline</strong> <small>Subtitle</small>
    </h3>
    <p>lorem ipsum dolor sit amet dolor, sit amet lorem ipsum dolor <strong>sit amet</strong> lorem ipsum lorem ipsum dolor sit amet dolor, sit amet lorem ipsum dolor sit <a href="test">amet lorem</a> sit amet lorem ipsum lorem ipsum dolor sit amet</p>
    <ul>
        <li>Lorem ipsum dolot sit amet</li>
        <li>Lorem ipsum dolot sit amet Lorem ipsum dolot sit amet</li>
        <li>Lorem ipsum dolot sit amet</li>
        <li>test</li>
    </ul>
    <a href="#" class="btn-primary big">jetzt ansehen</a>
</article>

<article class="article">
    <span class="image-left"><img src="http://placeimg.com/320/230/any" alt="" /></span>
    <h3 class="headline small">
        <strong>Headline</strong> <small>Subtitle</small>
    </h3>
    <p>lorem ipsum dolor sit amet dolor, sit amet lorem ipsum dolor <strong>sit amet</strong> lorem ipsum lorem ipsum dolor sit amet dolor, sit amet lorem ipsum dolor sit <a href="test">amet lorem</a> sit amet lorem ipsum lorem ipsum dolor sit lorem ipsum lorem ipsum dolor sit amet lorem ipsum lorem ipsum dolor sit amet</p>
    <p><a href="#" class="btn-primary dynamic"><span>jetzt ansehen</span><i class="icn-arrow-right"></i></a></p>
</article>

<article class="article row">
    <div class="wdt-70">
        <h2>Ein Wohnmobil in %keyword%</h2>
        <p>Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. Abgeschieden wohnen sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans. Ein kleines Bächlein namens Duden fließt durch ihren Ort und versorgt sie mit den nötigen Regelialien.</p>
        <p><strong>Südtour nach Bamberg</strong></p>
        <p>Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. Abgeschieden wohnen sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans. Ein kleines Bächlein namens Duden fließt durch ihren Ort und versorgt sie mit den nötigen Regelialien.</p>
        <p>Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. Abgeschieden wohnen sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans. Ein kleines Bächlein namens Duden fließt durch ihren Ort und versorgt sie mit den nötigen Regelialien.</p>

        <div class="grd-1 space">
            <div class="box info">
                <h3>Route nach %keyword%</h3>
                <ul class="location space-bottom">
                    <li>Destination</li>
                    <li>Long Road Destination</li>
                    <li>Destination you may want</li>
                    <li>Here is a funny tall mountain</li>
                </ul>
                <ul class="location space-bottom">
                    <li>Destination</li>
                    <li>Long Road Destination</li>
                    <li>Destination you may want</li>
                    <li>Here is a funny tall mountain</li>
                </ul>
            </div>
        </div>

    </div>
    <div class="wdt-30">
        <div class="grd-1 space-bottom">
            <img src="http://placeimg.com/320/285/nature" alt="" />
        </div>
        <div class="grd-1">
            <img src="http://placeimg.com/320/285/nature" alt="" />
        </div>
    </div>
</article>

<article class="article">
    <ul class="row gutter blank space-top">
        <li class="grd-4 center">
            <i class="clr-green icn-bonfire big"></i>
            <p>Lorem ipsum dolor %keyword% lorem ipsum</p>
        </li>
        <li class="grd-4 center">
            <i class="clr-green icn-camping big"></i>
            <p>Lorem ipsum dolor %keyword% lorem ipsum</p>
        </li>
        <li class="grd-4 center">
            <i class="clr-green icn-hiking big"></i>
            <p>Lorem ipsum dolor %keyword% lorem ipsum</p>
        </li>
        <li class="grd-4 center">
            <i class="clr-green icn-check big"></i>
            <p>Lorem ipsum dolor %keyword% lorem ipsum</p>
        </li>
    </ul>
</article>

<article class="article">
    <h2>Grid</h2>
    <div class="row gutter">
        <div class="grd-3">
            <img src="http://placeimg.com/320/200/any" alt="" />
        </div>
        <div class="grd-3">
            <img src="http://placeimg.com/320/200/any" alt="" />
        </div>
        <div class="grd-3">
            <img src="http://placeimg.com/320/200/any" alt="" />
        </div>
    </div>
</article>

<article class="article">
    <h2>Grid</h2>
    <div class="row gutter">
        <div class="grd-4">
            <img src="http://placeimg.com/320/200/any" alt="" />
        </div>
        <div class="grd-4">
            <img src="http://placeimg.com/320/200/any" alt="" />
        </div>
        <div class="grd-4">
            <img src="http://placeimg.com/320/200/any" alt="" />
        </div>
        <div class="grd-4">
            <img src="http://placeimg.com/320/200/any" alt="" />
        </div>
    </div>
</article>

<article class="article">
    <h2>Grid</h2>
    <div class="row gutter">
        <div class="grd-5">
            <img src="http://placeimg.com/320/200/any" alt="" />
        </div>
        <div class="grd-5">
            <img src="http://placeimg.com/320/200/any" alt="" />
        </div>
        <div class="grd-5">
            <img src="http://placeimg.com/320/200/any" alt="" />
        </div>
        <div class="grd-5">
            <img src="http://placeimg.com/320/200/any" alt="" />
        </div>
        <div class="grd-5">
            <img src="http://placeimg.com/320/200/any" alt="" />
        </div>
    </div>
</article>

<article class="article">
    <span class="image-left"><img src="http://placeimg.com/320/200/any" alt="" /></span>
    <span class="image-right"><img src="http://placeimg.com/320/200/any" alt="" /></span>

    <h3 class="headline small">
        <strong>Headline</strong>
        <small>Subtitle</small>
    </h3>
    <p>lorem ipsum dolor sit amet dolor, sit amet lorem ipsum dolor <strong>sit amet</strong> lorem ipsum lorem ipsum dolor sit amet dolor, sit amet lorem ipsum dolor sit <a href="test">amet lorem</a> ipsum</p>
    <p>lorem ipsum dolor sit amet dolor, sit amet <u>lorem ipsum</u> dolor sit amet lorem ipsum lorem ipsum dolor sit amet dolor, sit amet lorem ipsum dolor sit amet lorem ipsum</p>
    <p>lorem ipsum dolor sit amet dolor, <strong>sit amet</strong> lorem ipsum dolor sit amet %phoneNumber% lorem ipsum lorem ipsum dolor sit amet dolor, sit amet lorem <em>ipsum dolor sit amet</em> lorem ipsum&nbsp;</p>
    <h2>
        <strong>Headline</strong>
        <small>Subtitle</small>
    </h2>
    <p>lorem ipsum dolor sit amet dolor, <strong>sit amet</strong> lorem ipsum dolor sit amet lorem ipsum lorem ipsum dolor sit amet dolor, sit amet lorem <em>ipsum dolor sit amet</em> lorem ipsum&nbsp;</p>
<div class="row">
    <span class="image-left"><img src="http://placeimg.com/320/200/any" alt="" /></span>
    <h3 class="center">Headline H3</h3>
<p class="center">lorem ipsum dolor sit amet dolor, <strong>sit amet</strong> lorem ipsum dolor sit amet lorem ipsum lorem ipsum dolor sit amet dolor, sit amet lorem <em>ipsum dolor sit amet</em> lorem ipsum&nbsp;<span style="font-size: 13px; line-height: 20.8px; display: inline !important;">m ipsum dolor sit amet dolor</span><span style="font-size: 13px; line-height: 20.8px; display: inline !important;">m ipsum dolor sit amet dolor</span><span style="font-size: 13px; line-height: 20.8px; display: inline !important;">m ipsum dolor sit amet dolor</span><span style="font-size: 13px; line-height: 20.8px; display: inline !important;">m ipsum dolor sit amet dolor</span><span style="font-size: 13px; line-height: 20.8px; display: inline !important;">m ipsum dolor sit amet dolor</span></p>
</div>
<h4>
    <strong>Headline</strong>
    <small>Subtitle</small>
</h4>
<p>lorem ipsum dolor sit amet dolor, <strong>sit amet</strong> lorem ipsum dolor sit amet lorem ipsum lorem ipsum dolor sit amet dolor, sit amet lorem <em>ipsum dolor sit amet</em> lorem ipsum&nbsp;</p>
<h5>
    <strong>Headline</strong>
    <small>Subtitle</small>
</h5>
<p>lorem ipsum dolor sit amet dolor, <strong>sit amet</strong> lorem ipsum dolor sit amet lorem ipsum lorem ipsum dolor sit amet dolor, sit amet lorem <em>ipsum dolor sit amet</em> lorem ipsum&nbsp;</p>
<h3><strong>Headline</strong><small>with small Subtitle<br /></small></h3>
<header>
<h2 class="center">Lists</h2>
</header>
<ul>
<li>list point</li>
<li><span style="font-size: 13px; line-height: 20.8px; display: inline !important;">list point</span></li>
<li><span style="font-size: 13px; line-height: 20.8px; display: inline !important;"><span style="font-size: 13px; line-height: 20.8px; display: inline !important;">list point</span></span></li>
</ul>
<ul class="check">
<li>list point</li>
<li><span style="font-size: 13px; line-height: 20.8px; display: inline !important;">list point</span></li>
<li><span style="font-size: 13px; line-height: 20.8px; display: inline !important;"><span style="font-size: 13px; line-height: 20.8px; display: inline !important;">list point</span></span></li>
</ul>
<ul class="star">
<li>list point</li>
<li><span style="font-size: 13px; line-height: 20.8px; display: inline !important;">list point</span></li>
<li><span style="font-size: 13px; line-height: 20.8px; display: inline !important;"><span style="font-size: 13px; line-height: 20.8px; display: inline !important;">list point</span></span></li>
</ul>
<ul class="location">
<li>list point</li>
<li><span style="font-size: 13px; line-height: 20.8px; display: inline !important;">list point</span></li>
<li><span style="font-size: 13px; line-height: 20.8px; display: inline !important;"><span style="font-size: 13px; line-height: 20.8px; display: inline !important;">list point</span></span></li>
</ul>
<header>
<h2 class="center">Icons</h2>
</header>
<div class="row">
    <div class="grd-2">
        <p class="icn-location">icn-location</p>
        <p class="icn-heart">icn-heart</p>
        <p class="icn-star">icn-star</p>
        <p class="icn-view">icn-view</p>
        <p class="icn-image">icn-image</p>
    </div>
    <div class="grd-2">
        <p class="icn-save">icn-save</p>
        <p class="icn-close">icn-close</p>
        <p class="icn-calendar">icn-calendar</p>
        <p class="icn-twitter">icn-twitter</p>
        <p class="icn-flag">icn-flag</p>
    </div>
</div>
<header>
    <h2 class="center">Buttons</h2>
</header>
<p>
<a href="#" class="btn-primary small dynamic">
    <i class="icn-check"></i>
    <span>primary icon left</span>
</a>

<a href="#" class="btn-primary icon small dynamic">
    <i class="icn-location"></i>
</a>

<a href="#" class="btn-primary small dynamic">
    <span>primary icon right</span>
    <i class="icn-location"></i>
</a>

<a href="#" class="btn-secondary small dynamic">
    <span>secondary</span>
    <i class="icn-location"></i>
</a>

<a href="#" class="btn-info small dynamic">
    <span>info</span>
    <i class="icn-location"></i>
</a>

<a href="#" class="btn-meta small dynamic">
    <span>meta</span>
    <i class="icn-location"></i>
</a>

<a href="#" class="btn-error small dynamic">
    <span>error</span>
    <i class="icn-location"></i>
</a>

<a href="#" class="btn-light small dynamic">
    <span>light</span>
    <i class="icn-location"></i>
</a>

<br />

<a href="#" class="btn-error big dynamic">
    <span>Button Text</span>
    <i class="icn-location"></i>
</a>

<a href="#" class="btn-light big dynamic">
    <span>Button Text</span>
    <i class="icn-location"></i>
</a>
</p>

<header>
    <h2 class="center">Grid</h2>
</header>

<h3 class="center">2 Colums</h3>

<div class="row">
    <div class="grd-2">
        <img src="http://placeimg.com/320/200/any" alt="" />
    </div>
    <div class="grd-2">
        <img src="http://placeimg.com/320/200/any" alt="" />
    </div>
</div>

<h3 class="center">3 Colums</h3>

<div class="row">
    <div class="grd-3">
        <img src="http://placeimg.com/320/200/any" alt="" />
    </div>
    <div class="grd-3">
        <img src="http://placeimg.com/320/200/any" alt="" />
    </div>
    <div class="grd-3">
        <img src="http://placeimg.com/320/200/any" alt="" />
    </div>
</div>

<h3 class="center">4 Colums</h3>

<div class="row">
    <div class="grd-4">
        <img src="http://placeimg.com/320/200/any" alt="" />
    </div>
    <div class="grd-4">
        <img src="http://placeimg.com/320/200/any" alt="" />
    </div>
    <div class="grd-4">
        <img src="http://placeimg.com/320/200/any" alt="" />
    </div>
    <div class="grd-4">
        <img src="http://placeimg.com/320/200/any" alt="" />
    </div>
</div>

<h3 class="center">5 Colums</h3>

<div class="row">
    <div class="grd-5">
        <img src="http://placeimg.com/320/200/any" alt="" />
    </div>
    <div class="grd-5">
        <img src="http://placeimg.com/320/200/any" alt="" />
    </div>
    <div class="grd-5">
        <img src="http://placeimg.com/320/200/any" alt="" />
    </div>
    <div class="grd-5">
        <img src="http://placeimg.com/320/200/any" alt="" />
    </div>
    <div class="grd-5">
        <img src="http://placeimg.com/320/200/any" alt="" />
    </div>
</div>


<div class="row gutter">
    <div class="grd-3">
        <img src="http://placeimg.com/320/200/any" alt="" />
    </div>
    <div class="grd-3">
        <img src="http://placeimg.com/320/200/any" alt="" />
    </div>
    <div class="grd-3">
        <img src="http://placeimg.com/320/200/any" alt="" />
    </div>
</div>
</article>
